/*
@font-face{
    font-family:'customfont';
    src:url('font-file.eot');
    src:url('font-file.eot?#iefix') format('embedded-opentype'),
         url('font-file.woff') format('woff'),
         url('font-file.ttf') format('truetype');
    font-weight:normal;
    font-style:normal}
*/