.profileMasthead {
		height: 90px}
	


	div.HOFBadge{
	position: static;
	float: left;
	background: transparent url(/images/hall-of-fame/badge-med.png) no-repeat 0 0;}
	
	#listingContent .HOFBadge{	
			background: #444 url(/images/hall-of-fame/badge-sm.png) no-repeat 0 0;}
			
	#listingContent .HOFBadge{
			height: 75px;}


/* changes to jan. 12 listing detail */ 

	#listingContent #rightCol{
		float:right;
		margin-top: 75px;}
		
	#mysite #listingContent #rightCol{
		margin-top: 76px;}

	#listingContent #listingDetailWidget .mod{
		width: 590px;}
		
	#listingContent	.brokerCard {
		padding-bottom: 0}
 		
 		
 				

/* lazy fix for png problem*/  

.galleria-image-nav {
    height: 26px;}  

.galleria-image-nav-left, .galleria-image-nav-right {
		height: 26px;
		opacity: .5;
    filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   background: url(/images/sprites/pngs.png) no-repeat 0px -72px;}
    
.galleria-image-nav-right {
    background: url(/images/sprites/pngs.png) no-repeat 0px -101px;}



/* renter/signup  */  
#blueBox .fb.block {
	padding-right : 0px;
	padding-left: 15px;}

	#siteNav li#offers a, #siteNav li#oneplace a {
		padding-bottom: 5px}

/* ywals the placement of the icons on the pricing page  */  
	#broker_signup .sectionTitle.pricing, #account .sectionTitle.pricing{
			background: transparent url(/images/sprites/pricing.gif) no-repeat 0 -1290px}
			
		#broker_signup .sectionTitle.faq, #account .sectionTitle.faq{
			background: transparent url(/images/sprites/pricing.gif) no-repeat 0 -1352px}		

    #nakedDeals .deal{
        border: 1px solid #e4e4e4}

    #blueBox {
        border: 2px solid #fff}

.multi.rowLine input {
	margin-top: 0px}

/* tweak renter sign up pt size boxes */  
.checkboxContSm.bg{
max-width: 58px;
width: 58px}




body.inactive {
	background-color: #fff}

#listingEdit .cancel, #listingPreview .cancel {
    min-width: 210px}


/* best" flag on pricing grid */ 
#pricingTable #best {
top:-26px;
}


/* affects the pricing page plan titles */ 
 #pricing h3 em {
    vertical-align: 1%}


/* repositions optin modals */ 
    #choosePlan #plans #banner{
        margin-left: -20px;
        top: 420px;
    }
    
#modal-listingsFree.popup{
        top: 80px;
    }
    
    #modal-contacts.popup{
        top: 130px;
    }
    
    #modal-contactsDirect.popup{
        top: 180px;
    }
    
    #modal-listingsFeatured.popup{
        top: 230px;
    }
    
    #modal-track.popup{
        top: 280px;
    }
    
    
   #plans .button{
	           margin-left: -20px;}    

      #choosePlan #starter{
      z-index: 1
      }
  
   .popup{
        background: transparent url(/images/sprites/optin.gif) no-repeat 0px -113px;
    }
    
     #modal-listingsFreeS.popup{
        background: transparent url(/images/sprites/optin.gif) no-repeat -425px -113px;
    }
 

#account #autofill .calm{
            padding-left: 24px;
        }



.activityRatingSm {
    min-width:20px;}


.legend{
    border-top: 0px;
}



#details .actionBlock .note input {
            margin:0px;
    }



/* float the tables on offer page    */  
        #details table{
            float: left
        }



/* tweaks the contacts filter subnav    */        
        
        #contacts ul#sub {
           margin:-20px 0px 25px 28px; 
        }
        

        #renter_profile #leftCol td{
        	padding-left: 8px;

}


/* tweaks to form stuff  */
        fieldset{
            padding-top: 0px;
        }
        
        #renter_signup fieldset.minor, #broker_signup fieldset.minor{
            border: 0;
            margin-top: 1px;
        }
        
        #renter_signup fieldset .minor legend, #renter_signup fieldset.minorlast legend{
            padding: 0px 2px 0px 0px;
            margin-left: 0px; 
        }
        
        #renter_signup fieldset .minor legend{
            margin-left: -6px;
        }
        
        
        #renter_signup fieldset legend, #broker_signup fieldset legend {
            padding:5px 0px 10px 0px;
            margin-left: 0px;
        }



.offerCredited{
    padding-top: 5px;
}



#btn_learnMore{
    height: 56px; !important
}



.bidCol{
    text-align: center;
}



.offersMadePopup {
          position: absolute; 
          margin-top: 15px;
          margin-left: -40px; 
        }



#sales #rightCol .row{
        padding: 20px 0px 15px 0px;
    }


 #benefits .row{
    padding-bottom: 0px;
            }

#leftCol #cardInfo{
    position: relative;
}


#logoBlock{
    position: absolute;
    bottom: 30px;
    left: 450px;
}


.saveInfoCont{
    background-color: #fff
}


    #step3 #purchaseBids .block img {
        top: 6px
    }
    
    #step3 #purchaseBids .price{
        min-width: 50px;
        width: 50px;
    }



/* making anon nav links work  */

#TB_ajaxContent .anon li {
    	padding: 0px;
    	margin: 10px 0px 0px -6px;
    	line-height: 13px;
}

.padLeft{
    padding-left: 5px;
}


/* making anon nav links work  */


#anonNav .block a{
    line-height: 35px;
}


.boroughs #filters{
    padding-bottom:0px;
}


#filters{
    padding-top: 5px;
}


#tour #rightCol li {
    	padding: 0px;
    	margin: 10px 0px 0px -6px;
    	line-height: 13px;
}


#searchWrapper  fieldset.minor {
    padding-left: 0px;
    margin-left: 0px;
}



#searchWrapper  fieldset.minor legend{
    margin-left: -5px;
}



    /** - - - - - - - - - - - - -
     for home page orange links
     - - - - - - - - - - - - -**/

#howitworks #idea a.link{
        margin-left: -90px;

}

/* ensures search dropdown menus go on top of subnav */
#subnav {
  z-index: -1;
}

